@import './base.css';
/* Main App */
#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif !important;
  position: relative;
  color: black;
  background-color: #f8f8f8;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}
.image-right {
  width: 300px;
  position: absolute;
  top: 22%;

  transform: translateY(-50%);
  z-index: -1;
}

/* Wrapper class */
.main-section {
  width: 100%;
  padding: 1rem;
}
.content-wrapper {
  margin: 1rem auto auto auto;
  max-width: 1024px;
}

/* Navigation Bar */
@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 16px;
    color: #66bc45;
  }
}

nav {
  max-width: 100%;
  align-items: center;
  text-align: center;
}
.active-nav {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  @media only screen and (max-width: 1024px) {
    font-size: 1.5rem;
  }
}
.banner {
  width: 100%;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}
.home-logo {
  margin: 0rem 1.5rem 0rem 1.5rem;
  height: 80px;
  z-index: 1;
  display: inline-block;

  @media (max-width: 580px) {
    height: 60px;
  }
  @media (max-width: 440px) {
    height: 50px;
  }
  @media (max-width: 400px) {
    height: 45px;
  }
}
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav a.router-link-exact-active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 16px;
  color: #333333;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
}

nav a:first-of-type {
  border: 0;
}

@media (max-width: 1080px) {
  header {
    display: flex;
    place-items: center;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}

/* MAP */
.address-map {
  position: flex;
  flex-direction: column;
}

.scroll-test {
  height: 1000px;
}
.header_button {
  font-weight: 700;
  text-align: center;
  min-width: 11.5rem;
}

/* CSS */
.button-pho {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pho:hover {
  background-color: #ed1c24;
  color: white;
}

.button-pho:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-pho:focus-visible {
  box-shadow: none;
}
